.cabecalho {
  background-color: var(--bg-dark);
  color: var(--text-main);
  width: 100%;
  height: auto;
  padding: 2rem;
}

.cabecalho__navbar,
.cabecalho__lista {
  width: 100%;

}

.cabecalho__lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.cabecalho__list-item {
  display: inline-block;
  padding: 0 1%;
}
.cabecalho__link {
  font-size: 2rem;
}

@media (min-width: 320px) and (max-width: 448px) {
  .cabecalho {
    background: #1b0530;
    background: linear-gradient(
      358deg,
      rgba(27, 5, 48, 1) 6%,
      rgb(98, 53, 105) 35%,
      rgb(36, 1, 36) 100%
    );
    padding: 0;
  }

  .cabecalho__list-item {
    margin: 0 0.6rem;
    
  }

  .cabecalho__lista {
    justify-content: space-evenly;
  }

  .cabecalho__link {
    font-size: 1.4rem;
  }
}

@media (min-width: 448px) and (max-width: 768px) {
  .cabecalho {
    background: #1b0530;
    background: linear-gradient(
      358deg,
      rgba(27, 5, 48, 1) 6%,
      rgb(98, 53, 105) 35%,
      rgb(36, 1, 36) 100%
    );
    padding: 1rem;
  }

  .cabecalho__list-item {
    margin: 0 0.3rem;
  }

  .cabecalho__lista {
    justify-content: space-evenly;
  }

  .cabecalho__link {
    font-size: 2rem;
    padding: 1%;
  }
}
